@use "global" as *;

.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $blue3;
  width: 100%;
  height: 100vh;
  z-index: 8888;
  transition: ease 0.3s;
  overflow-y: auto;
  cursor: pointer;
}
.drawer-menu--all-close {
  display: none;
}
.drawer-menu.is-open {
  display: block;
}
.drawer__icon-sp {
  width: rem(114);
  height: rem(80);
}
.drawer__icon-sp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drawer-menu__inner {
  width: 100%;
  max-width: rem(275);
  padding: rem(80) 0 rem(160);
}
.drawer-menu__items {
  text-transform: uppercase;
}
.drawer-menu__item {
  padding: rem(12) 0;
  width: 100%;
  border-top: 1px solid $blue;
}
.drawer-menu__item:last-child {
  border-bottom: 1px solid $blue;
}

.drawer-menu__item a {
  color: $white;
  font-family: $en-font2;
  font-size: rem(14);
  font-weight: $regular;
}

.drawer-menu__sns-container {
  width: 100%;
  max-width: rem(103);
  margin-top: rem(50);
  display: flex;
  justify-content: space-between;
}

.drawer-menu__sns-icon {
  color: $white;
}

/*//////////////////////////////////////
drawerのアニメーション
/////////////////////////////////////*/
.js-header__drawer-menu{
  display: none;
  opacity: 0;
}

.js-header__drawer-menu.panelActive {
  display: block; //クラスが付与されたら出現
  opacity: 1;
}

// 背景が出現後にナビゲーション liを表示
// レイアウトによって調整・削除可
.js-header__drawer-menu.panelActive {
  animation-name: gNavAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;

  @keyframes gNavAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/*丸の拡大*/
.header__bg {
  position: fixed;
  z-index: 4000;
  /*丸の形*/
  width: rem(100);
  height: rem(100);
  border-radius: 50%;
  background-color: $blue;
  /*丸のスタート位置と形状*/
  transform: scale(0); /*scaleをはじめは0に*/
  right: rem(-50);
  bottom: rem(-50);
  transition: all 1s; /*1秒かけてアニメーション*/
}

.header__bg.circleActive {
  transform: scale(50); /*クラスが付与されたらscaleを拡大*/
}

/*//////////////////////////////////////
終了
/////////////////////////////////////*/
