@use "global" as *;

.works {
  background-color: $white2;
}
.works__inner.inner {
  padding-right: initial;
  padding-left: initial;
  @include mq(md) {
    padding-right: rem(20);
    padding-left: rem(20);
  }
}

.works__title {
  text-align: left;
  padding-left: rem(20);
  @include mq(md) {
    padding-left: initial;
  }
}

.works__container {
  width: 100%;
  max-width: rem(500);
  margin-top: rem(20);
  background-color: $white;
  padding: rem(30) rem(30);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: initial;
    margin-right: rem(-10);
    margin-left: rem(-10);
    margin-top: rem(40);
    padding: rem(50) rem(40);
  }
}

.works__post {
}

.works__button {
  margin-top: rem(40);
  text-align: right;
  margin-right: rem(25);
}
