@use "global" as *;

.works {
  background-color: $white2;
}

.works__inner {
  margin-top: rem(20);
  background-color: $white;
  padding: rem(30) rem(40);

  @include mq(md) {
    margin-top: rem(40);
    padding: rem(50) rem(40);
  }
}
.works__title {
  text-align: left;
}
.works__container {
  width: 100%;
  max-width: rem(500);
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: initial;
    margin-right: initial;
    margin-left: initial;
  }
}

.works__post {
}

.works__button {
  margin-top: rem(40);
  text-align: right;
}
